<div class="main-visual">
  <div class="top-cover">
    <h1 class="top-title">ShereCale</h1>
    <p class="top-start-btn">
      <%= link_to '始めよう！', new_user_registration_path %>
    </p>
  </div>
</div>
<div class="damy"></div>
