/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*トップページ*/
.main-visual {
  width: 100%;
  text-align: center;
  position: relative;
}

.top-title {
  background-image: url("top.jpg");
  background-size: cover;
  background-position: center;
  padding: 250px;
  font-size: 120px;
  position: relative;
  z-index: 10;
}

.top-title::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1; /* -1 に変更することで .top-title よりも背後に配置 */
  height: 45%;
  box-sizing: border-box; /* ボックスモデルを変更して padding を含めた高さにする */
}