/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

a {
  color: red;
}

/*ヘッダー*/
.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  background: linear-gradient(90deg, #4158D0, #C850C0 30%, #FFCC70);
  background: -weblit-linear-gradient(0deg,#4158D0, #C850C0 30%, #FFCC70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*ハンバーガーメニュー*/
#hm-icon {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 10;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 45px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}

/*spメニュー*/
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 20%;
  min-height: 100%;
  display: none;
  z-index: 9;
}

.sp-menu-title {
  margin: 75px 0 30px;
  text-align: center;
}

#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/*トップページ*/
.main-visual {
  width: 100%;
  position: relative;
  text-align: center;
}

.top-cover {
  background-image: url("top.jpg");
  background-size: cover;
  background-position: center;
  padding: 250px;
  position: relative;
  z-index: 5;
}

.top-cover::after {
  content: '';
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
  height: 38%;
  z-index: -1;
}

.top-title {
  font-size: 120px;
}

.top-start-btn {
  position: absolute;
  font-size: 50px;
  z-index: 5;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}

#explain {
  padding: 50px;
}

.explain-items {
  display: flex;
}

.explain-title {
  color: #fff;
  font-size: 40px;
  padding-bottom: 30px;
}

.explain-2 {
  padding: 0 50px;
}

.explain-heading {
  color: #fff;
}

.explain-text {
  color: #fff;
  padding: 10px;
}

.img-box {
  background-color: #fff;
  width: 400px;
  height: 300px;
}

.registration-btn {
  padding-top: 15px;
  font-size: 25px;
}

/*説明欄*/
#explain {
  opacity: 0;
  transform: translateY(75px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

#explain.active {
  opacity: 1;
  transform: translateY(0);
}