<div class="users-info">
  <h2 class="user-title">User Detail</h2>
  <div class="user-items">
    <div class="user-name-header">Name</div>
    <div class="user-name"><%= @user.user_name %></div>
  </div>
</div>