<!--ハンバーガーメニュー-->
<div id="sp-menu">
  <h2 class="sp-menu-title">MENU</h2>
  <ur>
    <li><a href="#">MENU1</a></li>
    <li><a href="#">MENU2</a></li>
    <li><a href="#">MENU3</a></li>
    <li><a href="#">MENU4</a></li>
    <li><a href="#">MENU5</a></li>
  </ur>
</div>

<div id="hm-icon">
  <a class="menu-trigger" href="#">
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>